section.content__holder
   .wrapper.content__content
      .content__elements
         include ./element_holder

      .content__bg.content__bg_1
      .content__bg.content__bg_2
      .content__bg.content__bg_3
      .content__bg.content__bg_4
      .content__bg.content__bg_5
      .content__bg.content__bg_6
      .content__bg.content__bg_7
      .content__bg.content__bg_8

