section.caption__holder
   .wrapper.caption__content
      //.caption__text_holder
      //   .caption__back
      //   .caption__text Профессиональные конкурсы
      .caption__text_holder
         .caption__text
            span Профессиональные конкурсы
      .caption__image
      .caption__book
