doctype
html

   include assets/jade/static/header

   body
      #pc_container
         include assets/jade/header/header
         include assets/jade/header/caption

         include assets/jade/content/list

         include assets/jade/footer/footer




