.content__holder {
   position: relative;
   .content__holder();
}
.content__content {
   position: relative;
}
.content__elements {
   position: relative;
   z-index: 10;
}

.content__bg {
   position: absolute;
   z-index: 2;
   
   .img();
}

.content__bg_1 {
   .content__bg_star();
   
   width: 264px;
   height: 270px;
   
   top: 15%;
   left: -260px;
   .xxl-block({
      width: 200px;
      left: -83px;
   })
}
.content__bg_2 {
   .content__bg_book();
   
   width: 388px;
   height: 382px;
   
   top: 22%;
   right: -200px;
   
   .xl(display, none)
}
.content__bg_3 {
   .content__bg_arc();
   
   width: 239px;
   height: 296px;
   
   top: 34%;
   left: -80px;
   
   .xl-block({
      left: unset;
      right: -62px;
   })
}
.content__bg_4 {
   .content__bg_circle();
   
   width: 263px;
   height: 263px;
   
   top: 54%;
   right: -70px;
   
   .xl-block({
      width: 210px;
      height: 210px;
      
      top: 56%;
      right: unset;
      left: -70px;
   })
}
.content__bg_5 {
   .content__bg_glory();
   z-index: 3;
   
   width: 271px;
   height: 385px;
   
   top: 48%;
   left: -200px;
   
   .xxl(display, none)
}
.content__bg_6 {
   .content__bg_circle_full();
    z-index: 2;
   
   width: 348px;
   height: 348px;
   
   top: 51%;
   left: -190px;
   
   .xxl(display, none)
}
.content__bg_7 {
   .content__bg_book_left();
   
    width: 315px;
   height: 300px;
   
   top: 68%;
   left: -120px;
   
   .xl-block({
      top: 75%;
   })
}
.content__bg_8 {
   .content__bg_circle_full_xs();
   
   width: 205px;
   height: 205px;
   
   top: 84%;
   right: -55px;
   
   .xl-block({
      top: 87%;
   })
}


